/*

# GIT
!.gitignore
!README.md

# NIX
!default.nix
!.envrc

# TOOLS
!Makefile
!CMakeLists.txt
!gcc-arm-none-eabi.cmake
!.clang-format

# EXAMPLE
!Core
!Drivers
!CubeMX
!Project
!STM32-project-template.ioc
!.mxproject
